<h1>Crossover Genetic Algorithm</h1>
<div>

<% 
dna_m = "qpwoeirzzxcvlkjhasdfertyhkjlcnbv"
dna_f = "qoiuykjhgnmbvafsdrtuykhjgnvbcbvj"
crossover_indexes = [8, 12, 18]
%>


<p>Parent Male Gene: <%= dna_m %></p>
<p>Parent Female Gene: <%= dna_f %></p>

<p>Child Gene: <%=
gen_dna_child(dna_m,dna_f,crossover_indexes) %></p>
</div>

<p>test</p>
