<h1>Mating organisms</h1>

<%= form_for @organism, :url => mate_path, :method => :post do |f| %>
  <%=select("organism", "id", Organism.all.collect {|p| [ p.name, p.id ] }, {:include_blank => 'None'})%>
  <%=select("organism", "id", Organism.all.collect {|p| [ p.name, p.id ] }, {:include_blank => 'None'})%>

  <%= f.submit("Mate!") %>
<% end %>